.header {
  width: 100%;
  height: 50px;

  margin-bottom: 10px;

  &__container {
    max-width: 1200px;
    min-width: 320px;

    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 100%;

    margin-right: 60px;

    img {
      width: 100%;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }

  p {
    margin-left: 10px;

    font-size: 36px;
    font-weight: bold;
  }
}

.navLinks {
  display: flex;
  align-items: center;

  &__item {
    font-size: 24px;

    color: black;

    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    @media screen and (max-width: 600px) {
      margin: 10px 0;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    z-index: 1;

    right: -100%;
    top: 50px;
    gap: 0;

    width: 240px;
    height: 100%;

    background-color: lighten($color: #c4c9ce, $amount: 13%);

    padding-left: 10px;

    text-align: left;

    transition: 0.3s;

    &_active {
      right: 0px;
    }
  }
}

.hamburger {
  cursor: pointer;

  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }

  &_active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .bar {
    display: block;

    width: 25px;
    height: 3px;

    margin: 5px auto;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    background-color: black;
  }
}
